.details-page-container {
  min-height: 100vh;
  margin-top: 100px;
}
.details-page-kind-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.details-page-kind-container div {
  min-width: 200px;
  height: 40px;
  background-color: #401e00;
  border: 1px solid #401e00;
  color: #f3ebdf;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.details-page-kind-container div:hover {
  background-color: #f3ebdf;
  color: #401e00;
  transition: 0.5s;
  cursor: pointer;
}
.details-main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-main-image-container span {
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.details-main-image {
  border-radius: 50%;
  transition: 0.5s;
}
.details-main-image-container span:hover,
.details-main-image:hover {
  transition: 0.5s;
  box-shadow: #401e0075 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}
.details-color-image-container span {
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.details-colors-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.details-colors-image {
  border-radius: 50%;
  transition: 0.5s;
}
.details-colors-image:hover,
.details-color-image-container span:hover {
  box-shadow: #401e00c6 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  transition: 0.5s;
}

.image-preview {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.791);
  z-index: 100;
  overflow: hidden;
}

.image-preview span {
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .details-page-kind-container div {
    min-width: 100px;
    height: 30px;
    font-size: 12px;
  }
}
