.bg-img-scale {
  animation: zoom 4s infinite !important;
}
@keyframes zoom {
  0% {
    transform: scale(1); /* Normal boyut */
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1); /* Tekrar normal boyut */
  }
}
