.projelendirme-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.projelendirme-container h4,
h3 {
  text-shadow: #401e0075 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.projelendirme-image-container span {
  border-radius: 50%;
  box-shadow: #401e0075 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* First Start */
.projelendirme-card-container-first {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 300px;
}
/* First End */

/* Second Start */
.projelendirme-card-container-second {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
  margin-right: 150px;
}
/* Second End */

/* Third Start */

.projelendirme-card-container-third {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 180px;
}
/* Third End */

/* Fourth Start */

.projelendirme-card-container-fourth {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-left: 250px;
}
/* Fourth End */

@media screen and (max-width: 960px) {
  .projelendirme-card-container-first {
    justify-content: space-around;
    margin-left: 0px;
  }
  .projelendirme-card-container-second {
    justify-content: space-around;
    margin-right: 0px;
  }

  .projelendirme-card-container-second div {
    order: 1;
  }
  .projelendirme-card-container-second h4 {
    order: 0;
  }
  .projelendirme-card-container-third {
    justify-content: space-around;
    padding-left: 0px;
  }
  .projelendirme-card-container-fourth {
    justify-content: space-around;
    margin-left: 0px;
  }
  .projelendirme-card-container-fourth div {
    order: 1;
  }
  .projelendirme-card-container-fourth h4 {
    order: 0;
  }
}
