.bg-img-scale {
  animation: zoom 4s infinite !important;
}
@keyframes zoom {
  0% {
    transform: scale(1); /* Normal boyut */
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.4); /* 1.2 kat büyütme */
  }
  100% {
    transform: scale(1); /* Tekrar normal boyut */
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
}

.store-image-container {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: "3px solid #401e00";
  box-shadow: 0 0 10px red;
}
