/* =================================================== */
/* ============== Store Page Start =================== */
/* =================================================== */
.store-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.store-items-container-first {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-left: 150px;
  margin-top: 50px;
}
.store-items-container-second {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 100px;
}
.store-items-container-third {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.store-image-container {
  border-radius: 50%;
  width: 200px;
  height: 200px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.store-image-container:hover {
  box-shadow: #401e0075 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}
.store-items-title {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.store-items-title:hover {
  text-shadow: #401e0075 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .store-items-container-first {
    margin-left: 0;
    justify-content: center;
    gap: 50px;
  }
  .store-items-container-second {
    justify-content: center;
    gap: 50px;
    margin-left: 0;
  }
  .store-items-container-second img {
    order: 2;
  }
  .store-items-container-second h3  {
    order: 1;
  }
  .store-items-container-third {
    gap: 50px;
    margin-left: 0;
    justify-content: center;
  }
  .store-image-container {
    width: 150px;
    height: 150px;
  }
  .store-items-title {
    width: 200px;
  }
}
/* =================================================== */
/* ============== Store Page End ===================== */
/* =================================================== */
